@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-full mx-auto;
}

.container-sm {
  @apply w-full transition-all;
}

.next-prev-page-link {
  @apply 
    flex
    items-center 
    justify-center 
    backdrop-blur-lg 
    border 
    bg-white/60 
    gap-3 
    fixed 
    bottom-0 
    w-12 
    h-12
    sm:static
    sm:w-auto
    sm:px-3
}

.next-prev-page-link_text {
  @apply hidden sm:inline
}

@screen sm {
  .container {
    @apply w-135;
  }
  .container-sm {
    @apply w-135;
  }
}

@screen md {
  .container {
    width: 45rem;
  }
}

@screen lg {
  .container {
    width: 60rem;
  }
}

@screen xl {
  .container {
    width: 71.25rem;
  }
}

@screen 2xl {
  .container {
    width: 82.5rem;
  }
}
