---
import arrowRight from '../../assets/svg/arrow-right.svg?raw'
import ProductCard from '../ProductCard.astro';

const res = await fetch(import.meta.env.PUBLIC_API_BASE_URL + '/products')
const products = await res.json()
---

<section class="container grid gap-4 sm:gap-8">
  <a href="/Novas-Chegadas" class="flex justify-between items-baseline px-4">
    <h2 class="text-2xl md:text-3xl tracking-wide uppercase">Novas Chegadas</h2>
    <div class="flex items-center gap-2 tracking-widest uppercase text-sm">
      Mostre tudo
      <slot set:html={arrowRight} />
    </div>
  </a>

  <div class="grid grid-cols-4-product gap-x-1 gap-y-8 overflow-x-scroll snap-x scroll-pl-4 px-4 sm:px-0 sm:mx-4">
    {products.map(product =>
    <ProductCard product={product} />)
    }
  </div>
</section>