---
import Base from "../layouts/Base.astro";
import Collection from "../components/sections/Collection.astro";
import Arrivals from "../components/sections/Arrivals.astro";
import Seasons from "../components/sections/seasons/Seasons.astro";
---

<Base>
<main class="grid gap-16 py-6">
  <Collection />
  <Arrivals />
  <Seasons />
</main>
</Base>