---
import instagram from '../assets/svg/instagram.svg?raw'
import logo from '../assets/svg/lauranails-sm.svg?raw'
---

<footer class:list={[Astro.props.class]}>
  <hr class="border-t mb-10">
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
    <div class="flex flex-col gap-4 items-center lg:items-start">
      <a href="https://instagram.com" class="text-neutral-500 hover:text-black transition" set:html={instagram} />
      <span class="text-xs text-neutral-500 tracking-wider text-center lg:text-left">Somos uma loja física, visite-nos
        no Pingo Doce,
        Portela de
        Sintra. Portugal.</span>
    </div>
    <div class="flex flex-col gap-1 items-center self-end">
      <slot set:html={logo} />
      <span class="text-xs tracking-wider text-neutral-500">Copyright © {new Date().getFullYear()} Laura
        Nails</span>
    </div>
    <div class="hidden" />
  </div>
</footer>