---
import lauranails from '../assets/svg/lauranails.svg?raw'
import ShoppingCart from './ShoppingCart.astro';
import Menu from './Menu.astro';
import Navbar from './Navbar.astro';
---

<header class="sticky top-0 border-b backdrop-blur-lg bg-white/60 z-40">
  <div class="grid grid-cols-[repeat(3,1fr)] lg h-12 px-4 container">
    <Menu />
    <a class="justify-self-center self-center lg:col-span-1 lg:mr-auto" href="/" set:html={lauranails} />
    <Navbar />
    <ShoppingCart class="ml-auto" />
  </div>
</header>