<nav class="h-12">
  <div class="flex gap-4 items-center justify-between uppercase h-full">
    <a href="acessorios">acessórios</a>
    <a href="malas">malas</a>
    <a href="roupas">roupas</a>
    <a href="chapeus">chapéus</a>
  </div>
</nav>