<nav class="border-b mx-4">
  <div class="flex items-center justify-around h-12 uppercase container-sm">
    <a href="acessorios">acessórios</a>
    <a href="malas">malas</a>
    <a href="roupas">roupas</a>
    <a href="chapeus">chapéus</a>
  </div>
</nav>